{% extends 'layouts/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h2>Contact ACME </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, alias aspernatur ratione necessitatibus fugit quam sit dolorem tenetur aperiam n
        am similique atque, ullam repellendus eum? Quas aperiam quod eligendi nobis! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vel autem dolor sint magni, nulla saepe unde provident pariatur porro vero recusandae distinctio, placeat corrupti ipsam. 
        Necessitatibus obcaecati sapiente veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit odio laboriosam porro doloremque quidem a aliquid autem voluptatem praesentium. Iste sit ipsa debitis odit nostrum temporibus blanditiis enim distinctio!
        Iste, facere? Eius dolorum ullam veritatis hic recusandae itaque eligendi est dignissimos quam, animi nesciunt at, autem minus ipsum! Neque obcaecati quo ad sint natus doloremque repellat fugiat quisquam illum.
        Illo, esse exercitationem? Soluta expedita, odit mollitia perspiciatis quod deserunt quas molestiae magnam totam eaque omnis iste eum consequatur, fugit natus! Nostrum, adipisci distinctio omnis quo voluptatum harum. Unde, amet.
        Pariatur impedit reiciendis soluta est accusamus et in laborum perferendis quibusdam. Pariatur, voluptate, architecto voluptates eaque quam, officiis aut est nemo velit illo qui tempora vel. Illum ducimus maiores voluptate!
    </p>
{% endblock %}    