{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Acme {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    {% include "layouts/_nav.html" %}

    <div class="wrapper">
        {% block content %}  
        {% endblock %}

        {% include "layouts/_footer.html" %}
    </div>
    {% block javascript %} 
    {% endblock %}
</body>
</html>