{% extends 'blog/base.html' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h2>{{ posts|length }} Posts</h2>
    <ul>
        {% for post in posts  %}
            <article>
                <h2 class="title">
                    <a href="{% url 'blog:show' post.id %}">#{{ post.id }}-{{ post.title|upper }}</a>
                </h2>
                <p class="time">
                    <time datetime="{{ post.created_at|date:'Y-m-d' }}">Posted  {{ post.created_at|timesince }} ago</time>
                </p>
                <p class="content">{{ post.body|truncatewords:3 }}</p>
            </article>
        {% empty %}
            <p>Sorry, no post available</p>
        {% endfor %}    
    </ul>
{% endblock %}    